body {
    background-color: wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-heading {
    padding: 1.25rem;
    border-radius: 1.25rem;
    background-color: rgb(15, 5, 59);
    color: #f5ed80;
    font-size: 1.5rem;
    height: 4rem;
    font-weight: bold;
    margin: 1.25rem auto;
    width: 100%;
    max-width: 31.25rem;
    text-align: center;
    box-shadow: 0 0.25rem 0.5rem rgba(15, 30, 199, 0.2);
}

.form-container {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    padding: 1.875rem;
    border-radius: 0.625rem;
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 46.875rem;
}

.form-group .col-md-6 {
    padding: 0.625rem;
}

.form-control {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.btn-custom {
    background-color: rgb(15, 5, 59);
    color: #f5ed80;
    border: none;
    padding: 0.625rem;
    margin: 1.25rem auto;
    width: 100%;
    max-width: 15.625rem;
    border-radius: 1.25rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.mt-4 {
    margin-top: 1.25rem;
}
